
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    font-weight: 500;
    font-size: 30px;
    font-family: "Bree Serif", serif;

    .themeIconBtn {
        height: 30px;
        width: 30px;

        &:hover {
            cursor: pointer;
        }
    }

    .themeIcon {
        width: 30px;
    }
}

