.videosHolder {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.videoAdder {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
    margin: 20px 0;
}

.inputHolder {
    position: relative;
}

.invalidText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
    font-size: 12px;
    text-wrap: nowrap;
    color: #ff0000;

}

.addToQueueBtn, .clearQueueBtn {
    background-color: #fe0908;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        background-color: #fe080873;
        cursor: not-allowed;
    }
}

.addToQueueInput {
    padding: 5px 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.315);
    border-radius: 5px;

    &:focus {
        outline: none;
    }
}

.videosListContainer {
    background-color: #99a9af;
    padding: 10px;
    flex-grow: 1;
    height: 80vh;
    position: relative;
    overflow-y: scroll;
}

.darkVideosListContainer {
    background-color: #0a0a0a;
}

.queueListText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.individualVideoContainer {
    display: flex;
    align-items: center;
    
    margin: 5px;
    border-radius: 3px;
    background-color: white;
}

.darkIndividiualVideosContainer {
    background-color: #1f1f1f;
}

.thumbnailAndTitleContainer {
    display: flex;
    align-items: center;
    width: 85%;

    &:hover {
        cursor: pointer;
    }
}

.thumbnailContainer {
    position: relative;
    width: 30%;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    opacity: 0;
}

.showPlayIcon {
    opacity: 1;
}

.thumbnail {
    width: 100%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


.videoTitle {
    width: 55%;
    height: 100%;
}

.darkModeVideoTitle {
    color: white;
}

.deleteBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &:hover {
        background-color: rgba(0, 0, 0, 0.075);
        cursor: pointer;
    }
}

.darkModeDeleteBtnContainer {
    &:hover {
        background-color: rgba(255, 255, 255, 0.075);
        cursor: pointer;
    }
}

.deleteIcon {
    width: 25px;
}

@media (max-width: 950px) {
    .videosHolder {
        width: 100%;
    }

    .videosListContainer {
        flex-grow: 0;
        height: 40vh;
    }

    .addToQueueBtn, .clearQueueBtn {
        font-size: 12px;
    }
}

@media (width: 1024px) {
    .addToQueueBtn, .clearQueueBtn {
        font-size: 12px;
    }

    .invalidText {
        bottom: -12px;
    }
}